.nav-item {
    margin:9px;
     border:  5px solid red;
}
.nav-item{
    color:blue;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   border:  5px solid red;
   
}
body {
    background-color: #08d695; 
}
.nav {
  
  margin: 10;
  width: 720px;
}
